# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
pip-wheel-metadata/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log